/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


@keyframes fade-in-delayed {
  from { opacity: 0; }
  25% { opacity: 0; }
  to { opacity: 1; }
}

body {
  text-rendering: optimizeLegibility;
}

.global-loader__loading {
  /* Start fading in the loading indicator if loading indicator is still
   * displayed after 0.5s have passed. */
  animation: fade-in-delayed 2s;
}
