.text-slide__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100%;
}

.text-slide__text {
  font-size: 100px;
  text-align: center;
}

.text-slide__sub-texts {
  list-style-type: none;
}

.text-slide__sub-text {
  font-size: 50px;
  padding: 15px 0;
  text-indent: -15px;
}

.text-slide__sub-text:before {
  content: "-";
  position: relative;
  left: -15px;
}
